$text-color: #444;
$secondary-black: rgba($text-color, .83);


$primary-color: #7B9DCA;
$secondary-color: rgba($primary-color, .66);
$tertiary-color: rgba($primary-color, .33);
$primary-dark-color: #456086;

$accent-color: #D7B9C6;