@import '_colors';
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap');


body {
  background: linear-gradient(60deg, #DCB9C5 0%, #98B6CC 50%, #E9D2C7 100%);
  background-attachment: fixed;
  color: $text-color;
  font-family: Graphik, 'Nunito Sans', sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}

a {
  color: $primary-dark-color;
  text-decoration: none;
  font-weight: bold;

  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}