@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: linear-gradient(180deg, #DCB9C5 0%, #98B6CC 50%, #E9D2C7 100%);
  background-attachment: fixed;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

a {
  color: #000;
  text-decoration: none;
  text-transform: lowercase;

  &:hover {
    color: #000;
    text-decoration: underline;
    cursor: pointer;
  }
}